NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDyuqVLpZWbhrLiLo5MZo9x2aYHJSsfQcs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=atlas-service-centre.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=atlas-service-centre
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=atlas-service-centre.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=765812504221
NEXT_PUBLIC_FIREBASE_APP_ID=1:765812504221:web:59ae4f9261361c15754674
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-15L8DMZ6P7
